.codoacodo{
    display: inline-flex;
    align-items: center;
}

.contenedor-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(85, 85, 85);
    padding-top: 10px;
    padding-bottom: 10px;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contenedor-nav a{
    color: lightgray;
    text-decoration: none;
    padding: 5px;
}

#fondo{
    background-image: url(ba1.jpg);
    padding: 400px 100px;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

#fondo:before {
	content:'';
	position: absolute;
        top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
}

.conferencia{
    text-align: right;
    color: white;
    position: relative;
}

.antecuerpo{
    text-align: center;
}

.cuerpo{
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    justify-content: space-evenly
}

.cards{
    padding: 10px;
}

.card-text{
   font-size: x-small;
}

.cuerpo2{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.texto-cuerpo2{
    padding: 10px;
    background-color: rgb(56, 56, 56);
    color: white;
    font-size:small;
}

.formulario{
    padding-left: 300px;
    padding-right: 300px;
}

.mb-3{
    display: flex;
    justify-content: space-between;
}

.contenedor2-nav{
    display: flex; 
    justify-content: space-around;
    align-items: center;
    background-color: rgb(23, 61, 110);
    padding-top: 30px;
    padding-bottom: 30px;
}

.nav-secundario a{
    color: white;
    text-decoration: none;
    padding: 20px;
    font-size:small;
}
